.item {
    display: flex; flex-direction: column;
    background-color:#01613e;
    overflow: hidden;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

    min-width: calc((100% / 5) - (4rem / 5)); /*maximo 5 items por fila */
    max-width: calc((100% / 4) - (3rem / 4)); /*minimo 4 items por fila */
    max-height: 39rem;
}

.item_nametag {
    display: flex; justify-content: center; align-items: center;
    font-size: 1.2rem;
    flex-basis: 40%;
    padding: .3rem .2rem;
}

.item_img {width: 100%;}

.item_button {margin: .5rem; height: 2rem;}
