.flexclass {display: flex;}

.fcol {flex-direction: column;}

.frow {flex-direction: row;}

.fwrap {flex-wrap: wrap;}

.fnowrap {flex-wrap: nowrap;}

.fjustify_spacebtwn {justify-content: space-between;}

.fjustify_center {justify-content: center;}