* {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    text-align: center;
}

header {
    text-align: left;
    background-color: #e4e4e4;
}

main {
    color: #383737;
}

.shadow {
    box-shadow: 0 3px 1px 0px #1a1a1a;
}