* {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    text-align: center;
}

header {
    text-align: left;
    background-color: #e4e4e4;
}

.shadow {
    box-shadow: 0 3px 1px 0px #1a1a1a;
}

.card {
    display: inline-block;
    background-color: #f0f0f0;
    color: #000;
    border: solid 1px;
    padding: 1rem;
    width: 60vw;
    height: 78vh;
    overflow-y: scroll;
}
