.cartwidget {
    display: flex;
    font-size: 1.5rem;
    margin: .2rem .5rem;
    cursor: pointer;
    width: 3rem;
}

.cartwidget_count {
    background-color: rgb(221, 59, 59);
    font-size: .8rem;
    font-weight: bold;
    align-self: start;
    border-radius: 50%;
    padding: 0rem .3rem;
    transform: translateX(-10px)
}